{{define "solution"}}// ::KATA START::
{{.Code}}
// ::KATA END::
{{end}}

{{define "python3"}}// ::KATA START::
{{.Code}}
// ::KATA END::
{{end}}

{{define "golang"}}package kata

// ::KATA START::
{{.Code}}
// ::KATA END::
{{end}}

{{define "javascript"}}// ::KATA START::
{{.Code}}
// ::KATA END::
{{end}}

{{define "typescript"}}// ::KATA START::
{{.Code}}
// ::KATA END::
{{end}}
