{{define "solution"}}{{.Code}}{{end}}

{{define "python"}}// ::KATA START::
{{.Code}}
// ::KATA END::
{{end}}

{{define "golang"}}package kata

// ::KATA START::
{{.Code}}
// ::KATA END::
{{end}}

{{define "javascript"}}
// ::KATA START::
{{.Code}};
// ::KATA END::
{{end}}

